.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;
   background: linear-gradient(
      135deg, 
      rgba(213, 24, 24, 0.2) 0%, 
      rgba(30, 77, 90, 0.3) 50%, 
      rgba(0, 150, 255, 0.2) 100%
    ),
    linear-gradient(
      225deg, 
      rgba(16, 224, 179, 0.15) 0%, 
      rgba(225, 235, 243, 0.25) 100%
      
    );
    /* background-image: url(back.jpg); */
    /* background-image: url(new.png); */
  }





.app .container {
  max-width: 1368px;
  min-width: 280px;
  width: 100%;
  padding: 0 1rem;
}


.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
  padding: 0 2rem;
}

.search-wrapper {
  height: 45px;
  width: 40%;
  display: flex;
  align-items: center;
  align-self: flex-end;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  overflow: hidden;
}

.search-wrapper .search-input {
  height: 100%;
  width: 100%;
  padding: 0.4rem 0.8rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

.search-wrapper .search-input::placeholder {
  color: whitesmoke;
}

.search-wrapper .search-btn {
  height: 100%;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  color: whitesmoke;
  background-color: transparent;
}

.search-wrapper .search-btn i {
  font-size: 1.5rem;
}

.notes-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 2rem;
  
}






.Flex,
.code-wipe {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 20%;
  font-size: 2.5rem;
  font-weight: 700;
  color: #9a9ea1; 
  text-transform: uppercase;
  letter-spacing: 2px;
  

}



@media (max-width: 991px) {
  .notes-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .notes-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 580px) {
  .container {
    padding: 0 0.8rem;
  }

  .search-wrapper {
    width: 100%;
  }
}