.note-card {
  background: white;
  border-radius: 10px;
  padding: 1rem;
  height: 250px;          
  display: flex;
  max-width: 400px;
  max-height: 300px;
  
  overflow-wrap: break-word;
}

.note-card-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
}

.card-body {
  flex: 1;                    
  overflow-y: auto;        
  margin-bottom: 10px;
}

.card-body p {
  font-size: 14px;
  line-height: 1.4;
  word-break: break-word;
}


.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}





.action-item {
  cursor: pointer;
  opacity: 0.8;
}

.action-item:hover {
  opacity: 1;
}

.action-item .edit {
  color: rgb(8, 64, 131);
}

.action-item .delete {
  color: rgb(222, 63, 5);
  margin-right: 4rem;
  padding: 1rem;

}


.note-card {
  background-color: #ebe0e0;
  transition: all 0.3s ease;
}

.note-card:hover {
  background-color: #ddfbf9; 
  transform: translateY(-8px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

