.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: gray; */
 background-color:  rgba(221, 214, 212, 0.5);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-options {
  display: flex;
  align-items: center;
}

.nav-icon {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(219, 31, 31, 0.5);
  margin-left: 1rem;
  cursor: pointer;
  position: relative;
}

.nav-icon i {
  font-size: 1.5rem;
}

.nav-icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.nav-icon.favorite-count {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  color: gold;
  font-weight: bold;
 
}

.nav-icon.favorite-count i {
  margin-right: 0.3rem;
}

.view-buttons button {
  margin-left: 2.5rem;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.view-buttons button.active {
  background-color: #ffd700;
  color: white;
}


