.menu-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  background: #0a3b5d;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 8px;
  z-index: 1000;
}

.sidebar {
  /* margin-top: 5%; */
  position: fixed;
  top: 0;
  left: -250px;   
  width: 250px;
  height: 100vh;
  background: #1e293b;
  color: white;
  padding: 20px;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 12px 0;
  cursor: pointer;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.sidebar ul li:hover {
  color: #38bdf8;
}